.container {
  justify-content: center;
  margin: 2rem 2rem;
}

form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.form-group {
  width: 45%;
}

.form-group.preferences {
  margin: 1rem 0 0;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}

button[type='submit'] {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0069d9;
}

